 /* Author: Victor Delaporte
 * 
 *
 * 
 * Version: 1.0
 * 
 */

.bigTitre {
	text-align: center;
}


@media (max-width: 625px){
.imgtrans {
	width: 99%;
	height: 240px;
	position:absolute;
	top: 0;
	left: 0;
	margin-top: 220px;
	margin-left: 0.5%;		
}

}
@media (min-width: 625px){
.imgtrans {
	width: 95%;
	height: 140px;
	position:absolute;
	top: 0;
	left: 0;
	margin-top: 220px;
	margin-left: 2.5%;	
}
}

@media (max-width: 625px){
#cv {
	text-align: center;
	margin: auto;
}
}

@media (min-width: 625px){
#cv {
	text-align: center;
	margin: auto;
}
}

.container desc {
	margin-top: 0px;
}