*{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #527554;
}
html, body{
    margin: 0;
    height: 100vh;
    text-align: center;
}

#days {
  font-size: 200px;
  letter-spacing: -.5rem;
    position: relative;
top: -200px; 
}

.days2 {
  display: inline-block;
  letter-spacing: 0;
  background-color: #527554;
  color: #FFFFFF;
  padding: 9px 12px;
  position: relative;
top: -480px; left: 200px;
}

#hours {
  font-size: 50px;
    position: relative;
top: -500px; 
}

#sectiondetails {
    margin-top: -500px;
}

.imgold{
    height: 300px;
    position: absolute;
    margin-top: -330px;
    margin-left: -400px;
}

.imgrecent{
    height: 300px;
    position: absolute;
        margin-top: -330px;
    margin-left: 200px;

}

#cuvee{
    margin-top: -390px;
}

#mnqt{
        margin-top: 140px;

}

.header{
    /*background-image: url(./img/sauge.png);*/
    background-color: #527554;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-attachment: scroll;
    background-size: cover;
    height: 40vh;
    margin: 0;
    padding-top: 60vh;
}
.heading {
    color: #ffffff;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: 6em;
    font-weight: normal;
    text-shadow: 0 0 10px #000;
}
.heading-subtext{
    color: #fff;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: .6em;
}
.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}
.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}
.section{
    margin: 0 auto;
    max-width: 700px;
    padding: 1em 2.4em;
}
.sub-heading{
    font-family: 'Caveat', cursive;
    font-size: 3em;
    margin-top: 2em;
}
.details{
    margin: 0 auto 8em;
}
.details-heading{
    font-weight: bold;
    text-transform: uppercase;
}
.fas {
    font-size: 3em;
    opacity: .8;
}
.resort-image{
    width: 100%
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 4em;

        margin-top: -550px;
    }

    #days {
  font-size: 150px;
  letter-spacing: -.5rem;
    position: relative;
top: -100px; 
}

.days2 {
  display: inline-block;
  letter-spacing: 0;
  background-color: #527554;
  color: #FFFFFF;
  padding: 9px 12px;
  position: relative;
top: -325px; left: 150px;
}

#hours {
  font-size: 30px;
    position: relative;
top: -320px; 
}

#sectiondetails {
    margin-top: -320px;
}

.maps{
    width: 400px;
  }


.imgold{
    height: 200px;
    position: absolute;
        margin-top: 20px;
margin-left: -150px;
}

.imgrecent{
    height: 200px;
    position: absolute;
    margin-top: 20px;
margin-left: 10px;


}

#cuvee{
    margin-top: 150px;
}

#valeur{
}

#mnqt{
        margin-top: 10px;
}

.imgs {
}

}

